<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<input
  type="email"
  formControlName="email"
  placeholder="Email"
/>

<div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
  <div *ngIf="loginForm.get('email')?.errors?.['required']">
    El correo es obligatorio.
  </div>
  <div *ngIf="loginForm.get('email')?.errors?.['email']">
    El formato del correo no es válido.
  </div>
</div>


  <input type="password" formControlName="password" placeholder="Contraseña" />
 <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
  <div *ngIf="loginForm.get('password')?.errors?.['required']">
    La contraseña es obligatoria.
  </div>
  <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
    La contraseña debe tener al menos 6 caracteres.
  </div>
  <div *ngIf="loginForm.get('password')?.errors?.['pattern']">
    La contraseña solo puede contener letras y números (sin símbolos ni espacios).
  </div>
</div>


  <button type="submit" [disabled]="!loginForm.valid">Ingresar</button>


  <p *ngIf="loginError">Credenciales incorrectas</p>
</form>
